:root {
  --bg-color: #fafcff;
  --main-text: #36497e;
  --blue-color: #36497e;
  --green-color: #40bfff;
  --dark-blue: #0d2d4a;
  --dark-grey: #90979c;
  --subheader: #537591;
  --light-grey: #eff5f7;
}

body {
  background: white;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.owl-dot::before {
  content: "\2022";
  color: var(--dark-grey);
  font-size: 50px;
  margin-left: 5px;
}

.owl-dot:focus {
  outline: none;
}

.owl-dot.active::before {
  content: "\2022";
  color: var(--main-text); !important;
  font-size: 50px;
  margin-left: 5px;
}

.owl-dots {
  text-align: center;
  margin-top: 1rem;
}

.loader-bg {
  position: fixed;
  z-index: 9999;
  background: var(--main-text);
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader:before,
.loader:after {
  content: "";
  border: 1em solid white;
  border-radius: 58%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before {
  animation-delay: 0.5s;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.menu-brand {
  align-self: center;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: auto;
  float: none;
  margin-left: 35px;
  justify-content: flex-end;
  position: relative;
}
.navbar-item {
  margin-left: 100px;
  align-self: center;
  color: white;
  font-weight: 600;
}

.navbar-link {
  color: white;
  transition: 0.2s linear;
}
.navbar-link:hover {
  color: var(--green-color);
  text-decoration: none;
  transition: 0.1s linear;
}

.dropdown-menu {
  width: 80px !important;
  min-width: 50px !important;
  border-radius: 0px !important;
}
.dropdown-item {
  color: var(--main-text);
  font-weight: bold;
}

.nav-main {
  background: var(--blue-color);
  top: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.2s linear;
  z-index: 2995;
}
.nav-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s linear;
  position: fixed;
}

.lang {
  margin-left: 200px;
}
.lang-pic {
  margin-right: 8px;
}
.lang-menu {
  position: absolute;
  text-align: center;
  margin-top: 12px;
}
.nodisplay {
  display: none;
}
.lang-az-small {
  margin-left: 15px;
  padding-right: 15px;
}
.lang-az {
  color: white;
}
.lang-az:hover {
  color: var(--green-color);
  text-decoration: none;
}

.nav-brand:hover {
  text-decoration: none;
  color: var(--green-color);
  transition: 0.2s linear;
}

.wrapper {
  position: fixed;
  right: 0;
  top: 0;
  width: 0%s;
  background: var(--blue-color);
  height: 100vh;
  z-index: 3001;
  overflow-y: visible;
  overflow: visible;
}

.fa-times {
  position: fixed !important;
  top: 35px;
  right: 25px;
  z-index: 3003;
  color: white;
}

.wrapper-visible {
  animation: navbar-visible forwards 0.5s;
}

.wrapper-hidden {
  animation: navbar-hidden forwards 0.5s;
}

@keyframes navbar-visible {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes navbar-hidden {
  0% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}
@media (min-width: 0px) {
  .no-sm {
    display: none;
  }
  .no-md {
    display: inherit;
  }
  .no-sm-2 {
    display: none;
  }
  .no-lg {
    display: inherit;
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .no-md-2 {
    display: none;
  }
  .no-sm-2 {
    display: inherit;
  }
}
@media (min-width: 992px) {
  .no-sm {
    display: inherit;
  }
  .no-md {
    display: none;
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1600px) {
}

/*
Navbar
*/

@media (min-width: 0px) {
  .navbar-no-sm {
    display: none;
  }
  .navbar-no-lg {
    display: inherit;
  }
  .navbar-toggle {
    position: fixed;
    top: 30px;
    right: 25px;
    color: white !important;
    z-index: 3005;
  }
  .wrapper-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .wrapper-div-text {
    text-align: center;
    color: white;
    font-size: 120%;
    font-weight: bold;
    margin-top: 15px;
    white-space: nowrap;
    margin-left: 30px;
    padding-right: 30px;
  }
  .wrapper-link:hover {
    text-decoration: none;
  }
  .nav-brand {
    color: white;
    font-size: 25px;
    font-weight: bold;
    transition: 0.2s linear;
  }
}
@media (min-width: 576px) {
}
@media (min-width: 992px) {
  .nav-brand {
    margin-left: 50px;
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
  .navbar-no-sm {
    display: inherit;
  }
  .navbar-no-lg {
    display: none;
  }
  .wrapper {
    visibility: hidden;
  }
}
@media (min-width: 1600px) {
  .navbar-brand {
    margin-right: 200px;
  }
}

/*
Landing
*/

@media (min-width: 0px) {
  #landing {
    background: var(--blue-color);
    align-items: center;
    display: flex;
  }
  .landing-header {
    color: white;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    margin-top: 50px;
    animation: landing-header 2.5s forwards;
    opacity: 0.5;
  }
  .landing-subheader {
    color: #e2edf5;
    font-weight: 400;
    margin-top: 30px;
    text-align: center;
    transform: translateX(-50%);
    opacity: 0;
    animation: landing-subheader 2.5s forwards;
    animation-delay: 0.5s;
  }
  .landing-download-div {
    text-align: center;
    margin-top: 45px;
    animation: landing-download-div 2.5s forwards;
    opacity: 0;
    animation-delay: 1s;
    transform: translateX(-50%);
    justify-content: center;
  }
  .landing-download {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    transition: 0.2s linear;
  }
  .landing-watch-video {
    color: white;
    font-weight: bold;
    padding-left: 30px;
  }
  .landing-watch-video-sm {
    color: white;
    font-weight: bold;
  }
  .landing-watch-video:hover {
    color: var(--green-color);
    text-decoration: none;
  }
  .landing-download:hover {
    color: white;
    text-decoration: none;
    background: var(--green-color);
    border: 1px solid var(--green-color);
    transition: 0.2s linear;
  }
  .front-image {
    z-index: 205 !important;
    position: relative;
    transform: translateY(25%);
    left: 0%;
    opacity: 1;
  }
  .front-image-first-animation {
    animation: front-image-first 5s infinite;
    animation-delay: 5s;
  }
  .back-image-first-animation {
    animation: back-image-first 5s infinite;
    animation-delay: 0.5s;
  }
  .back-image {
    position: absolute;
    top: 75%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 200 !important;
    opacity: 0.5;
  }
  .ellipse-play {
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    opacity: 0.2;
    animation: ellipse-play 1s linear infinite;
  }
  .ellipse-play-sm {
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    opacity: 0.2;
    animation: ellipse-play 1s linear infinite;
  }
  .play {
    width: 0%;
    animation: ellipse-play 1s linear infinite;
  }
}
@media (min-width: 576px) {
}
@media (min-width: 992px) {
  .landing-header {
    text-align: left;
    margin-left: 50px;
  }
  .landing-subheader {
    text-align: left;
    margin-left: 50px;
  }
  .landing-download-div {
    text-align: left;
    margin-left: 50px;
    justify-content: start;
  }
  .front-image {
    z-index: 205 !important;
    position: relative;
    transform: translateY(25%);
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
  .ellipse-play {
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    opacity: 0.2;
    animation: ellipse-play 1s linear infinite;
  }
}
@media (min-width: 1600px) {
}

@keyframes ellipse-play {
  0% {
    width: 0%;
  }
  50% {
    width: 20%;
  }
  100% {
    width: 0%;
  }
}

@keyframes initial-image {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes front-image-first {
  0% {
    transform: translateY(25%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(25%);
  }
}

@keyframes back-image-first {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -65%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes landing-header {
  0% {
    transform: translateX(-50%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes landing-subheader {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes landing-download-div {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/*
Support
*/

@media (min-width: 0px) {
  #support {
    display: flex;
    padding-top: 135px;
    background: white;
    align-items: center;
  }
  .box {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.25);
    border: none;
    transition: linear 0.3s;
  }
  .box:hover {
    background-color: #bbbdbf;
    transition: linear 0.3s;
    text-decoration: none;
  }
  .box-small {
    margin-top: 50px;
  }
  .box-header {
    color: var(--dark-blue);
    font-weight: bold;
    font-size: 20px;
  }
  .box-header:hover {
    text-decoration: none;
  }
  .box-subheader {
    color: var(--dark-grey);
    font-weight: bold;
    font-size: 13px;
  }
  .box:hover ~ .box-header {
    text-decoration: none !important;
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
  .support-header {
    font-weight: bold;
    font-size: 26px;
    color: var(--dark-blue);
    margin-top: 100px;
    line-height: 50px;
  }
  .support-header-upper {
    font-weight: bold;
    font-size: 26px;
    color: var(--dark-blue);
    margin-top: 100px;
    line-height: 50px;
  }
  .support-subheader {
    color: var(--subheader);
    font-size: 16px;
    margin-top: 25px;
  }
  .support-bottom-header {
    font-size: 16px;
    color: var(--dark-blue);
    margin-top: 20px;
    font-weight: bold;
  }
  .support-bottom-text {
    font-size: 12px;
    color: var(--dark-grey);
    margin-top: 2px;
    margin-bottom: 0px;
  }
  .support-bottom-div {
    text-align: center;
    align-items: center;
    margin-top: 3rem;
    padding: 20px;
    transition: linear 0.2s;
  }
  .support-bottom-div:hover {
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.25);
    transition: linear 0.2s;
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .support-header {
    margin-top: 80px;
  }
  .support-header-upper {
    margin-top: 60px;
  }
  .box {
    padding: 5px;
  }
}
@media (min-width: 992px) {
  .support-bottom-div {
    text-align: left;
  }
  .support-header {
    font-size: 36px;
  }
  .support-header-upper {
    font-size: 36px;
  }
  .support-bottom-header {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
  .support-header {
    font-weight: bold;
    font-size: 36px;
    color: var(--dark-blue);
    margin-top: 150px;
  }
  .support-header-upper {
    font-weight: bold;
    font-size: 36px;
    color: var(--dark-blue);
    margin-top: 100px;
  }
}
@media (min-width: 1600px) {
}

/*
phone_1
*/

@media (min-width: 0px) {
  #phone_1 {
    background: white;
    margin-top: 5rem;
    padding-top: 6rem;
    padding-bottom: 8rem;
    display: flex;
    align-items: center;
  }
  .support-button-div {
    margin-top: 60px;
    text-align: center;
  }
  .support-button {
    background: var(--green-color);
    border-radius: 50px;
    padding: 15px;
    padding-left: 32px;
    padding-right: 32px;
    color: white;
    transition: linear 0.2s;
    border: 1px solid var(--green-color);
  }
  .support-button:hover {
    color: var(--green-color);
    background: var(--light-grey);
    transition: linear 0.2s;
  }
  .phone1-image-left {
    text-align: center;
  }
  .round {
    position: absolute;
    top: 0%;
    left: 30%;
    z-index: 31;
    animation: round 5s infinite linear;
  }
  .mc {
    position: absolute;
    top: 30%;
    left: 36%;
    z-index: 10;
    animation: mc 5s infinite linear;
  }
  .gloria {
    position: absolute;
    top: 45%;
    left: 30%;
    z-index: 10;
    animation: mc 5s infinite linear;
    animation-delay: 2.5s;
  }
  .lacoste {
    position: absolute;
    top: 60%;
    left: 40%;
    z-index: 10;
    animation: mc 5s infinite linear;
  }
  .thirdPhone {
    position: relative;
    z-index: 30;
    animation: thirdPhone 5s infinite linear;
  }
  .phone1-div {
    max-width: 100%;
  }
  .phone1-image-div {
    opacity: 0.5;
    transform: translateX(-30%);
  }
  .phone1-text-div {
    opacity: 0;
    transform: translateX(0%);
  }
  .phone1-text-div-animation {
    animation: phone1-text 2s forwards;
  }
  .phone1-image-animation {
    animation: phone1-image 2s forwards;
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .phone1-image-left {
    text-align: left;
  }
  .mc {
    position: absolute;
    top: 25%;
    left: 36%;
    z-index: 10;
    animation: mc 5s infinite linear;
  }
  .lacoste {
    position: absolute;
    top: 65%;
    left: 40%;
    z-index: 10;
    animation: mc 5s infinite linear;
  }
}
@media (min-width: 992px) {
  .support-button-div {
    text-align: left;
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1600px) {
}

@keyframes round {
  0% {
    transform: rotate(0deg) translate(-20%) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-20%) rotate(-360deg);
  }
}

@keyframes mc {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes thirdPhone {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes phone1-image {
  0% {
    opacity: 0.5;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes phone1-text {
  0% {
    opacity: 0;
    transform: translateX(15%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/*
phone_2
*/

@media (min-width: 0px) {
  .phoneFourth {
    position: relative;
    z-index: 35;
    animation: phoneFourth 5s linear infinite;
  }
  .phone2-back1 {
    position: absolute;
    top: 15%;
    right: 15%;
    z-index: 30;
    animation: phone2-right 3s linear infinite;
  }
  .phone2-back2 {
    position: absolute;
    top: 30%;
    left: 12%;
    z-index: 30;
    animation: phone2-left 3s linear infinite;
    animation-delay: 1s;
  }
  .phone2-back3 {
    position: absolute;
    top: 50%;
    right: 15%;
    z-index: 30;
    animation: phone2-right 3s linear infinite;
    animation-delay: 1s;
  }
  .phone2-back4 {
    position: absolute;
    top: 60%;
    left: 8%;
    z-index: 30;
    animation: phone2-left 3s linear infinite;
  }
  .div2-images {
    opacity: 0;
  }
  .div2-text {
    opacity: 0;
  }
  .div2-images-animation {
    animation: phone1-div2-images 2s forwards;
  }
  .div2-text-animation {
    animation: phone1-div2-text 2s forwards;
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .phoneFourth {
    position: relative;
    z-index: 35;
  }
  .phone2-back1 {
    position: absolute;
    top: 15%;
    right: 5%;
    z-index: 30;
  }
  .phone2-back2 {
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: 30;
  }
  .phone2-back3 {
    position: absolute;
    top: 45%;
    right: 0%;
    z-index: 30;
  }
  .phone2-back4 {
    position: absolute;
    top: 60%;
    left: 0%;
    z-index: 30;
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1600px) {
}

@keyframes phoneFourth {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes phone2-right {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-15%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes phone2-left {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes phone1-div2-text {
  0% {
    opacity: 0;
    transform: translateX(-15%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes phone1-div2-images {
  0% {
    opacity: 0;
    transform: translateX(15%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/*
Video
*/

@media (min-width: 0px) {
  #video {
    z-index: 1;
    display: flex;
    align-items: center;
  }
  .video-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
  }
  video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .video-header {
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: bold;
  }
  .video-subheader {
    margin-top: 2rem;
    color: #e4e5e7;
    text-align: center;
    font-weight: 18px;
  }
  .video-bottom-header {
    color: var(--green-color);
    font-size: px;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 18px;
  }
  .video-bottom-subheader {
    color: white;
    font-size: 30px;
    text-align: center;
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .video-subheader {
    margin-top: 2rem;
  }
  .video-bottom-header {
    margin-top: 6.5rem;
  }
  .video-container {
    height: 65vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
  .video-container {
    height: 80vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
  }
}
@media (min-width: 1600px) {
}

/*
Phone_2
*/

@media (min-width: 0px) {
  #phone_2 {
    background: white;
    margin-top: 2rem;
    padding-top: 6rem;
    padding-bottom: 8rem;
    display: flex;
    align-items: center;
  }
  .phone2-back-right {
    position: absolute;
    top: 15%;
    right: 10%;
    z-index: 45;
    animation: thirdPhone 5s infinite linear;
    animation-delay: 1s;
  }
  .phone2-back-left {
    position: absolute;
    top: 45%;
    left: 10%;
    z-index: 45;
    animation: thirdPhone 5s infinite linear;
    animation-delay: 1.5s;
  }
  .phone2 {
    opacity: 0;
  }
  .phone2-text-div {
    opacity: 0;
  }
  .div3-images {
    opacity: 0;
    text-align: center;
  }
  .div3-text {
    opacity: 0;
  }
  .phone2-yelo {
    position: absolute;
    z-index: 40;
    width: 20%;
    top: 10%;
    right: 0%;
    animation: yelo 5s infinite linear;
    animation-delay: 2.5s;
  }
  .phone2-kapital {
    position: absolute;
    z-index: 40;
    width: 40%;
    bottom: 10%;
    right: 0%;
    animation: kapital 5s infinite linear;
  }
  .phone2-pasha {
    position: absolute;
    z-index: 40;
    width: 45%;
    bottom: 20%;
    left: 0%;
    animation: pasha 8s infinite linear;
    animation-delay: 1s;
  }
  .phone2-international {
    position: absolute;
    z-index: 40;
    width: 10%;
    bottom: 5%;
    left: 25%;
    animation: international 2.5s infinite linear;
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .phone2-back-right {
    position: absolute;
    top: 15%;
    right: 0%;
    z-index: 45;
    animation: thirdPhone 5s infinite linear;
    animation-delay: 1s;
  }
  .phone2-back-left {
    position: absolute;
    top: 45%;
    left: 0%;
    z-index: 45;
    animation: thirdPhone 5s infinite linear;
    animation-delay: 1.5s;
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1600px) {
}

@keyframes yelo {
  0% {
    padding: 0%;
  }
  50% {
    padding: 20%;
  }
  100% {
    padding: 0%;
  }
}

@keyframes kapital {
  0% {
    padding: 0%;
  }
  50% {
    padding: 19%;
  }
  100% {
    padding: 0%;
  }
}

@keyframes pasha {
  0% {
    padding: 0%;
  }
  50% {
    padding: 30%;
  }
  100% {
    padding: 0%;
  }
}

@keyframes international {
  0% {
    padding: 0%;
  }
  50% {
    padding: 5%;
  }
  100% {
    padding: 0%;
  }
}

/*
Store
*/

@media (min-width: 0px) {
  #store {
    background: var(--main-text);
    display: flex;
    align-items: center;
    margin-top: 4rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .store-header {
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin-top: 1rem;
  }
  .store-subheader {
    text-align: center;
    color: #e4e5e7;
    font-size: 16px;
    margin-top: 1.5rem;
  }

  .store-div {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .store-div img {
    width: 75%;
    margin-top: 2rem;
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .store-div img {
    margin: 20px;
    margin-top: 2rem;
    padding: 0px;
    width: 75%;
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1600px) {
}

/*
Reviews
*/

@media (min-width: 0px) {
  #reviews {
    display: flex;
    align-items: center;
    padding-bottom: 8rem;
  }
  .comments {
    margin-top: 3rem;
  }
  .comment {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .comment-box {
    text-align: center;
    margin-top: 2rem;
  }
  .comment-bottom {
    text-align: left;
    display: flex;
    align-items: center;
  }
  .comment-bottom img {
    padding-left: 1em;
    margin-right: 1.5em;
  }
  .title {
    font-weight: bold;
    color: var(--main-text);
    font-size: 14px;
  }
  .company {
    font-size: 14px;
    color: var(--dark-grey);
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .title {
    font-weight: bold;
    color: var(--main-text);
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1600px) {
}

/*
FAQ
*/

@media (min-width: 0px) {
  #faq {
    display: flex;
    align-items: center;
    padding-bottom: 8rem;
  }
  .faq-title {
    text-align: center;
    color: var(--main-text);
    font-size: 26px;
    font-weight: bold;
  }
  .faq-subtitle {
    text-align: center;
    color: var(--dark-grey);
  }
  .question-box {
    display: flex;
    align-items: center;
  }
  .questions-row {
    margin-top: 4rem;
  }
  .question-text {
    margin-left: 1rem;
    font-weight: bold;
    font-size: 100%;
    color: var(--main-text);
  }
  .question-opened {
    margin-left: 3.4rem;
    font-size: 80%;
    color: var(--dark-grey);
  }
  .q-open {
    display: inherit;
  }
  .q-close {
    display: none;
  }
  .question-col {
    margin-top: 2rem;
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .question-text {
    font-size: 110%;
  }
  .question-opened {
    font-size: 80%;
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
  .faq-title {
    text-align: center;
    color: var(--main-text);
    font-size: 36px;
  }
}
@media (min-width: 1600px) {
}

/*
UI
*/

@media (min-width: 0px) {
  #user-interface {
    display: flex;
    align-items: center;
    padding-bottom: 8rem;
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1600px) {
}


/*
Footer
*/



@media (min-width: 0px) {
  #footer{
    background: var(--main-text);
    color:white !important;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .footer-header {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
  }
  .footer-subheader {
    margin-top: 30px;
    text-align: center;
  }
  .footer-subheader p {
    color: white;
  }
  .footer-subheader p:hover {
    color: var(--dark-grey)
  }
  .footer-subheader a:hover {
    color: var(--dark-grey)
    text-decoration: none;
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .footer-header {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
  }
  .footer-subheader {
    margin-top: 30px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
}
@media (min-width: 1600px) {
}
